/* .board {
    width: 60%;
    height: 15%;
    margin: auto;
    margin-right:20%;
    border-radius:8px;
} */

.board{
    position: absolute;
    top: 8rem;
    right: 12%;
    width: 60%;
}

.table {
    font-size: .7rem;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
    text-align: left;
}

.tablehead {
    background-color: rgb(215,210,255);
    border-radius: 20px;
}



td {
    height: 2rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.no{
    width:15%;
    padding-left:1rem;
    color:gray;
}
.title{
    width:70%;
}

.title a{
    text-decoration: none;
}

.writer{
    width:15%;
    text-align: right;
    padding-right:1rem;
    color:gray;
}

