.board{
    position: absolute;
    top: 7rem;
    right: 12%;
    width: 60%;
}

.table {
    font-size: .8rem;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0;
    text-align: left;
}

tr.thread{
    font-weight: bold;
}

.tbody{
    font-size:.7rem;
}

td {
    height: 2rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.no{
    width:10%;
    padding-right:1rem;
    color:gray;
    text-align: center;
}
.title{
    width:60%;
    font-weight: bold;
    letter-spacing: 1px;
}

.title a,
.title a:visited {
    text-decoration: none;
    color: black;
}

.title a:hover{
    text-decoration: none;
    color: gray;
}


.writer{
    width:15%;
    text-align: right;
    padding-right:1rem;
    color:gray;
}

.cat{
    width:15%;
    color:gray;
}
