html, body{
    height : 100%;
    margin : 0;
    font-size : 20px;
    font-family: 'Nanum Gothic', sans-serif;
}


#title{
  text-align: center;
  color: white;
  padding: .5rem;
  margin: 0;
  background-color: rgb(130, 111, 255);
  background: linear-gradient(to bottom right, rgb(121, 101, 253),rgb(196, 188, 252));
}
#menu{
  text-align: center;
  background-color: rgb(130, 111, 255);
  background: linear-gradient(to left bottom, rgb(196, 188, 252), rgb(121, 101, 253));
  padding: 0.7rem;
}
#menu a{
  display: inline-block;
  width: 4.5rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 12px;
  padding: 0.2rem 0.5rem;
  background-color: #EDEDEF;
  color: black;
  text-decoration: none;
  margin: 0.2rem;
}
#menu a:hover{
  background-color: #ededefc6;
}
#design{
  background-color: #E0E0E6;
  width: 100%;
  height: 1.2rem;
}

.usermenu{
  font-family: 'Noto Sans KR', sans-serif;
  position: absolute;
  top: 13.1%;
  right: 35%;
  visibility: hidden;
  background-color: rgb(224, 228, 255);
  color: rgb(76, 76, 76);
  border-radius: .5rem;
  padding-left:0.5rem;
}
.usermenu.active{
  visibility: visible;
}
.usermenu ul{
  padding:0; margin:0;
}
.usermenu li{
  list-style-type: none;
  margin:0;
}
.usermenu a{
  display:block;
  font-size: .8rem;
  padding:.5rem 3rem .5rem 1rem;
  color: rgb(91, 91, 91);
  text-decoration: none;
}
.usermenu #usermenu a:hover{
  text-decoration: none;
  color: rgb(93, 98, 254);
}
.usermenu a:visited{
  text-decoration: none;
  color: rgb(91, 91, 91);
}
.usermenu::before{
  content:'';
  position:absolute;
  top:-.25rem;
  right:1.25rem;
  width:.5rem;
  height: .5rem;
  background-color: rgb(224, 228, 255);
  transform:rotate(45deg);
}