html, body{
    height : 100%;
    margin : 0;
    font-size : 20px;
}

body{
    text-align: center;
}

.login-form{
    display : flex;
    flex-direction : column;
    border-radius : 1rem;
    margin-top: 6rem;
    width : 100%;
    justify-content : center;
}
form{
    background-color: #F1F1F2;
    width: 30rem;
    padding: 2rem 0;
    border-radius: 1rem;
    margin:auto;
}
.int-area input {
    width: 20rem;
    height: 1rem;
    font-size: .9rem;
    padding: .5rem 0;
    border: 0;
    border-bottom: 1px solid rgb(132, 132, 132);
    background: transparent;
    color: rgb(78, 78, 78);
    outline: 0;
    margin-bottom: 1.5rem;
}


.btn-area {
    text-align: center;
    padding-top:1rem
}

.btn-area input#btn , .btn-area button{
    width: 20rem;
    padding: .6rem 0;
    background: rgb(130,111,255);
    color: rgb(247, 247, 247);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: .9rem;
}
.btn-area input#btn:hover{
    background: rgb(82,55,255);
    color: rgb(230, 230, 230);
}

.btn-area button#btn2:hover{
    background: rgb(109,155,255);
    color: rgb(230, 230, 230);
}

.btn-area button#btn2 a,
.btn-area button#btn2 a:hover,
.btn-area button#btn2 a:visited
{
    text-decoration: none;
    padding: .6rem 40%;
    color: rgb(247, 247, 247);
}