section, #table, .column{
    display: flex;
}
section{
    flex-direction: column;
    width: 100%;
    margin-top: 9rem;
    align-items: center;
}

h2{
    margin-bottom: 2rem;
}

button{
    width : 78%;
    height: 1.7rem;
    margin-bottom:.6rem;
    background-color:rgb(130, 111, 255);
    border:none;
    border-radius:.5rem;
}
button:hover{
    background-color:rgb(82, 55, 255);
    text-decoration: none;

}

button a{
    text-decoration:none;
    color:white;
    font-size: .75rem;
    padding: .7rem 25%;
}

#table{
    width: 80%;
}

.column{
    width: 100%;
    border: 1px solid rgb(186,176,255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column button:last-child{
    margin-bottom:1.5rem
}