

ul #un{
    display: block;
    border-radius: 1rem;
    padding: 0;
    margin: .1rem 0.3rem .5rem .3rem;
}

.menubar {
    opacity: .85;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    top: 7rem;
    left: 2rem;
    width: 10rem;
}

.menubar li {
    list-style-type: none;
}

.menubar label+ul a {
    text-decoration: none;
    font-size: .75rem;
    display: block;
    color: rgb(91, 91, 91);
    transition: .2s;
    padding: .5rem .75rem;
    background-color:rgb(239, 236, 255);
    border-bottom: 0;
}


.menubar label+ul a:visited {
    text-decoration: none;
    color: rgb(91, 91, 91);
}

.menubar label+ul a:hover {
    color: white;
    background-color: rgb(154, 139, 255);
    text-decoration: none;
}

ul.cur,
.cur ul {
    padding: 0;
}

input[id*="dep"] {
    display: none;
}

input[id*="dep"]+label {
    display: block;
    padding: .5rem .75rem;
    padding-right: 0;
    margin: 0 .3rem;
    border: 1.6px solid rgb(130, 111, 255);
    background-color: transparent;
    color: rgb(46, 34, 126);
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
}
input[id*="dep"]+label:hover{
    color: white;
    border: 1.4px solid rgb(130, 111, 255);
    background-color: rgb(130, 111, 255);
}

input[id*="dep"]+label a {
    color: rgb(78, 56, 219);
    text-decoration: none;
}

input[id*="dep"]+label a:visited {
    color: rgb(78, 56, 219);
    text-decoration: none;
}

input[id*="dep"]+label a:hover {
    text-decoration: none;
    color: white;
}

#reg09+label {
    border-bottom: 1.5px solid rgb(189, 189, 189);
}

.un {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
}

input[id*="dep"]+label em {
    position: absolute;
    opacity: 30%;
    top: 50%;
    right: .5rem;
    width: .8rem;
    height: .8rem;
    margin-top: -.5rem;
    display: inline-block;
    transition: .3s;
}

input[id*="dep"]+label+ul {
    max-height: 0;
    transition: all .2s;
    overflow: hidden;
}

input[id*="dep"]:checked+label+ul {
    max-height: 100%;
}

input[id*="dep"]:checked+label em {

    transition: .3s;
}
