/* ol{
    position: absolute;
    left: 30%;
} */

ul #un{
    display: block;
    padding: 0.1rem 0.75rem;
}

.menubar {
    opacity: .85;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    top: 8rem;
    left: 2rem;
    width: 10rem;
}

.menubar li {
    list-style-type: none;
}

.menubar label+ul a {
    text-decoration: none;
    font-size: .7rem;
    display: block;
    color: rgb(91, 91, 91);
    transition: .2s;
    padding: .5rem .75rem;
    background-color:#e8e8f0;
    border-bottom: 0;
}

.menubar label+ul a:hover {
    background-color: #b5b5bdc6;
}

.menubar label+ul a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menubar label+ul a:visited {
    text-decoration: none;
    color: rgb(91, 91, 91);
}

ul.cur,
.cur ul {
    padding: 0;
}

input[id*="dep"] {
    display: none;
}

input[id*="dep"]+label {
    display: block;
    padding: .5rem .75rem;
    padding-right: 0;
    margin: 0 .75rem;
    border: 1.5px solid rgb(180, 182, 189);
    border-bottom: 0;
    color: rgb(70, 70, 70);
    font-size: .8rem;
    background-color: rgb(215, 210, 255);
    cursor: pointer;
    position: relative;
}

input[id*="dep"]+label a {
    color: rgb(70, 70, 70);
    text-decoration: none;
}

input[id*="dep"]+label a:visited {
    color: rgb(70, 70, 70);
    text-decoration: none;
}

input[id*="dep"]+label a:hover {
    color: rgb(70, 70, 70);
    text-decoration: none;
}

#reg09+label {
    border-bottom: 1.5px solid rgb(189, 189, 189);
}

.un {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
}

input[id*="dep"]+label em {
    position: absolute;
    opacity: 30%;
    top: 50%;
    right: .5rem;
    width: .8rem;
    height: .8rem;
    margin-top: -.5rem;
    display: inline-block;
    transition: .3s;
    background: url('../image/angle-right-solid.svg') 0 0 no-repeat;
}

input[id*="dep"]+label+ul {
    max-height: 0;
    transition: all .2s;
    overflow: hidden;
}

input[id*="dep"]:checked+label+ul {
    max-height: 100%;
}

input[id*="dep"]:checked+label em {

    transition: .3s;
    background: url('../image/angle-down-solid.svg') 0 0 no-repeat;
}
