#question, #answer{
  width: 22rem;
}

#question{
  display: inline-block;
  text-align: center;
  padding-bottom: 1rem;
  margin: .5rem;
  border: 1px solid rgb(109, 155, 255);
  background-color: rgb(135, 172, 251);
}

#answer{
  display: inline-block;
  text-align: center;
  margin: .5rem;
  padding-bottom: 1rem;
  border: 1px solid rgb(109, 155, 255);
  background-color: rgb(135, 172, 251);
}
#qna{
  color: rgb(27, 77, 142);
  margin-top: 7.5rem;
  display: block;
  text-align: center;
}

#qna button{
  color: rgb(27, 77, 142);
}
#explain{
  font-size: 1.25rem;
  margin-top: 3rem;
  text-align: center;
  color: rgb(69, 69, 69);
}