section, #table, .column{
    display: flex;
}
section{
    flex-direction: column;
    width: 100%;
    margin-top: 9rem;
    align-items: center;
}

#table{
    width: 80%;
}

.column{
    width: 100%;
    border: 1px solid gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}