<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
<body>
  <header>
    <h1 id="title">TITLE</h1>
    <div id="menu" method = "get">
      <a href="/">HOME</a>
      <a href="/question">QUESTION</a>
      <a href="/answer">ANSWER</a>
      <a href="/user">USER</a>
      <a href="/login">LOGIN</a>
    </div>
  </header>

  <section>

    <ol>
      {% for post in article %}
        <li><a href="/detail/{{post[0]}}/">{{post[2]}}</a></li>
      {% endfor %}
    </ol>

  </section>
</body>
</html>