<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <h1 id="title">TITLE</h1>
    <div id="menu">
      <a href="index.html">HOME</a>
      <a href="question.html">QUESTION</a>
      <a href="answer.html">ANSWER</a>
      <a href="user.html">USER</a>
      <a href="login.html">LOGIN</a>
    </div>
    <div id="qna">
      <div id="question">
        <h1>Q.</h1>
        <h3>Lorem ipsum dolor sit amet  </h3>
        <h3>Lorem ipsum dolor sit amet consectetur </h3>
        <button type="button" onclick="location.href='question.html'">질문 하러 가기</button>
      </div>
      <div id="answer">
        <h1>A.</h1>
        <h3>Lorem ipsum dolor sit amet  </h3>
        <h3>Lorem ipsum dolor sit amet consectetur </h3>
        <button type="button" onclick="location.href='answer.html'">답변 하러 가기</button>
      </div>
    </div>
    <div id="explain">
      <h2>HACKALEARN MARACOM</h2>
    </div>
</body>
</html>