<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/loginstyle.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>Document</title>
  </head>

  <body>

    <header>
      <h1 id="title">TITLE</h1>
      <div id="menu" method = "get">
        <a href="/">HOME</a>
        <a href="/question">QUESTION</a>
        <a href="/answer">ANSWER</a>
        <a href="/user">USER</a>
        <a href="/login">LOGIN</a>
      </div>
    </header>

    <section class="login-form">

      {% if login == True %}

      <h3>{{username}}님 반갑습니다 !</h3>
      <div class="btn-area"><button id="btn2"><a href="/logout">LOGOUT</a></button></div>
      
      {%else%}

      <form action="/signin" method="get">
        <p>LOGIN</p>
        <div class="int-area"><input type="text" placeholder="id" name="id" /></div>
        <div class="int-area"><input type="password" placeholder="password" name="pw" /></div>
        <div class="btn-area"><input type="submit" id="btn" value="login" /></div>
      </form>

      {%endif%}

    </section>


  </body>
</html>
