<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/question.css">
</head>
<body>
  <header>
    <h1 id="title">TITLE</h1>
    <div id="menu" method = "get">
      <a href="/">HOME</a>
      <a href="/question">QUESTION</a>
      <a href="/answer">ANSWER</a>
      <a href="/user">USER</a>
      <a href="/login">LOGIN</a>
    </div>
  </header>

  <section>
    <h2>어떤 게시판에 글을 작성하시겠습니까 ?</h2>

    <div id = "table">

      <div class="column">
        <h4>공과계열</h4>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
      </div>

      <div class="column">
        <h4>상경계열</h4>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
      </div>

      <div class="column">
        <h4>어문계열</h4>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
      </div>

      <div class="column">
        <h4>자연계열</h4>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
      </div>

      <div class="column">
        <h4>예체능</h4>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
      </div>

      <div class="column">
        <h4>대학생활</h4>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
        <button><a href="/write">content</a></button>
      </div>

    </div>

  </section>

</body>
</html>