<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/sidemenu.css">
  <link rel="stylesheet" href="../static/css/answer.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f76d1c9984.js" crossorigin="anonymous"></script>
  <body>
    <header>
      {% if login == False %}
      <div id="menu" method = "get">
        <a href="/question">QUESTION</a>
        <a href="/answer">ANSWER</a>
        <h1 id="title"><a href="/">TITLE</a></h1>
        <a href="#">Sign in</a>
        <a href="/login">Login</a>
      </div>
      {%else%}
      <div id="menu" method = "get">
        <a href="/question">QUESTION</a>
        <a href="/answer">ANSWER</a>
        <h1 id="title"><a href="/">TITLE</a></h1>
        <a href="/user" id="prof1">{{username}}님</a>
        <a href="/logout">Logout</a>
      </div>
      {%endif%}
    </header>

  <section>

    <div id="un" class="menubar">
      <ul class="menu">
        <li>
          <input type="checkbox" id="dep01">
          <label for="dep01">{{tag[0][1]}}<em></em></label>
          <ul id="un">
            <li><a href="../answer/{{tag[0][2]}}">{{tag[0][2]}}</a></li>
            <li><a href="../answer/{{tag[0][3]}}">{{tag[0][3]}}</a></li>
            <li><a href="../answer/{{tag[0][4]}}">{{tag[0][4]}}</a></li>
            <li><a href="../answer/{{tag[0][5]}}">{{tag[0][5]}}</a></li>
            <li><a href="../answer/{{tag[0][6]}}">{{tag[0][6]}}</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="dep02">
          <label for="dep02">{{tag[1][1]}}<em></em></label>
          <ul id="un">
            <li><a href="../answer/{{tag[1][2]}}">{{tag[1][2]}}</a></li>
            <li><a href="../answer/{{tag[1][3]}}">{{tag[1][3]}}</a></li>
            <li><a href="../answer/{{tag[1][4]}}">{{tag[1][4]}}</a></li>
            <li><a href="../answer/{{tag[1][5]}}">{{tag[1][5]}}</a></li>
            <li><a href="../answer/{{tag[1][6]}}">{{tag[1][6]}}</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="dep03">
          <label for="dep03">{{tag[2][1]}}<em></em></label>
          <ul id="un">
            <li><a href="../answer/{{tag[2][2]}}">{{tag[2][2]}}</a></li>
            <li><a href="../answer/{{tag[2][3]}}">{{tag[2][3]}}</a></li>
            <li><a href="../answer/{{tag[2][4]}}">{{tag[2][4]}}</a></li>
            <li><a href="../answer/{{tag[2][5]}}">{{tag[2][5]}}</a></li>
            <li><a href="../answer/{{tag[2][6]}}">{{tag[2][6]}}</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="dep04">
          <label for="dep04">{{tag[3][1]}}<em></em></label>
          <ul id="un">
            <li><a href="../answer/{{tag[3][2]}}">{{tag[3][2]}}</a></li>
            <li><a href="../answer/{{tag[3][3]}}">{{tag[3][3]}}</a></li>
            <li><a href="../answer/{{tag[3][4]}}">{{tag[3][4]}}</a></li>
            <li><a href="../answer/{{tag[3][5]}}">{{tag[3][5]}}</a></li>
            <li><a href="../answer/{{tag[3][6]}}">{{tag[3][6]}}</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="dep05">
          <label for="dep05">{{tag[4][1]}}<em></em></label>
          <ul id="un">
            <li><a href="../answer/{{tag[4][2]}}">{{tag[4][2]}}</a></li>
            <li><a href="../answer/{{tag[4][3]}}">{{tag[4][3]}}</a></li>
            <li><a href="../answer/{{tag[4][4]}}">{{tag[4][4]}}</a></li>
            <li><a href="../answer/{{tag[4][5]}}">{{tag[4][5]}}</a></li>
            <li><a href="../answer/{{tag[4][6]}}">{{tag[4][6]}}</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="dep06">
          <label for="dep06">{{tag[5][1]}}<em></em></label>
          <ul id="un">
            <li><a href="../answer/{{tag[5][2]}}">{{tag[5][2]}}</a></li>
            <li><a href="../answer/{{tag[5][3]}}">{{tag[5][3]}}</a></li>
            <li><a href="../answer/{{tag[5][4]}}">{{tag[5][4]}}</a></li>
            <li><a href="../answer/{{tag[5][5]}}">{{tag[5][5]}}</a></li>
            <li><a href="../answer/{{tag[5][6]}}">{{tag[5][6]}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="board">
      <table class="table">
        <div class="tablehead">
          <thead class="thead">
            <tr>
              <td class="no">No</td>
              <td class="title">제목</td>
              <td class="writer">작성자</td>
            </tr>
          </thead>
        </div>
        <tbody class="tbody">
          <tr>
        {% for post in article %}
          <td class="no">{{post[0]}}</td>
          <td class="title"><a href="/detail/{{post[0]}}">{{post[2]}}</a></td>
          <td class="writer">{{post[1]}}</td>
        {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <script src="../static/js/toggle.js"></script>
</body>
</html>