<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoCL</title>

    <style>
        html, body{
            height: 100%;
        }
        body{
            display:flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <div>
        <h1>
            401 error
        </h1>
        <p>
            현재 글을 작성할 권한이 없습니다
        </p>
        <p>
            로그인 또는 회원가입을 진행해주세요
        </p>
    </div>

</body>
</html>