<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoCL</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f76d1c9984.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
      {% if login == False %}


      <div id="menu" method = "get">
        <a href="/question">QUESTION</a>
        <a href="/answer">ANSWER</a>
        <h1 id="title"><a href="/">MoCL</a></h1>
        <a href="#">Sign in</a>
        <a href="/login">Login</a>
      </div>
      {%else%}
      <div id="menu" method = "get">
        <a href="/question">QUESTION</a>
        <a href="/answer">ANSWER</a>
        <h1 id="title"><a href="/">MoCL</a></h1>
        <a href="/user" id="prof1">{{username}}님</a>
        <a href="/logout">Logout</a>
      </div>
      {%endif%}
    </header>

    <div id="qna">
      <div class="image">
        <img src="../static/image/undraw_questions_re_1fy7.svg">
        <div id="explain">
          <h1><b>M</b>entor <b>o</b>f <b>C</b>ollege <b>L</b>ife</h1>
          <p>공모전? 포트폴리오? 학교 생활?</p>
          <p>넘쳐나는 정보 속 나만 멈춰있는 것 같다면</p>
          <p>원하는 게시판에서 필요한 정보만 <i>쏙쏙 !</i></p>
        </div>
      </div>
      <div class="qnad">
        <div id="question">
          <h1>Q.</h1>
          <p>
            대학 생활 중 생긴 궁금증<br>멘토가 필요하다면
          </p>
          <button type="button" onclick="location.href='/question'">질문 하러 가기</button>
        </div>
        <div id="answer">
          <h1>A.</h1>
          <p>
            도움이 필요한 사람들에게<br>멘토가 되고싶다면
          </p>
          <button type="button" onclick="location.href='/answer'">답변 하러 가기</button>
        </div>
      </div> 
    </div>
</body>
</html>