<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/loginstyle.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    
    <title>Document</title>
  </head>

  <body>

    <header>
      <h1 id="title">TITLE</h1>
      <div id="menu" method = "get">
        <a href="/">HOME</a>
        <a href="/question">QUESTION</a>
        <a href="/answer">ANSWER</a>
        <a href="#" id = "us">USER</a>
        <a href="/login">LOGIN</a>
      </div>
      <div id="design"></div>
    </header>

    {% if login == False %}

    <div class="usermenu">
      <li id="guide">Please Login</li>
      <ul id="usermenu">
              <li><a href="login.html" id="prof1">Sign in</a></li>
              <li><a href="/login">Login</a></li>
      </ul>
    </div>

    {%else%}

    <div class="usermenu">
      <li id="guide">{{username}}님</li>
      <ul id="usermenu">
              <li><a href="/user" id="prof1">Usermenu</a></li>
              <li><a href="/logout">Logout</a></li>
      </ul>
    </div>

    {%endif%}

    <section class="login-form">

      {% if login == True %}

      <h3>{{username}}님 반갑습니다 !</h3>
      <div class="btn-area"><button id="btn2"><a href="/logout">LOGOUT</a></button></div>
      
      {%else%}

      <form action="/signin" method="get">
        <p>LOGIN</p>
        <div class="int-area"><input type="text" placeholder="id" name="id" /></div>
        <div class="int-area"><input type="password" placeholder="password" name="pw" /></div>
        <div class="btn-area"><input type="submit" id="btn" value="login" /></div>
      </form>

      {%endif%}

    </section>

    <script src="../static/js/toggle.js"></script>
  </body>
</html>
