<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoCL</title>
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/question.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f76d1c9984.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    {% if login == False %}
    <div id="menu" method = "get">
      <a href="/question">QUESTION</a>
      <a href="/answer">ANSWER</a>
      <h1 id="title"><a href="/">MoCL</a></h1>
      <a href="#">Sign in</a>
      <a href="/login">Login</a>
    </div>
    {%else%}
    <div id="menu" method = "get">
      <a href="/question">QUESTION</a>
      <a href="/answer">ANSWER</a>
      <h1 id="title"><a href="/">MoCL</a></h1>
      <a href="/user" id="prof1">{{username}}님</a>
      <a href="/logout">Logout</a>
    </div>
    {%endif%}
  </header>

  <section>
    <h2>어떤 게시판에 글을 작성하시겠습니까 ?</h2>

    <div id = "table" method="get">

      <div class="column">
        <h4>{{tag[0][1]}}</h4>
        <button><a href="/write/{{tag[0][2]}}">{{tag[0][2]}}</a></button>
        <button><a href="/write/{{tag[0][3]}}">{{tag[0][3]}}</a></button>
        <button><a href="/write/{{tag[0][4]}}">{{tag[0][4]}}</a></button>
        <button><a href="/write/{{tag[0][5]}}">{{tag[0][5]}}</a></button>
        <button><a href="/write/{{tag[0][6]}}">{{tag[0][6]}}</a></button>
      </div>

      <div class="column">
        <h4>{{tag[1][1]}}</h4>
        <button><a href="/write/{{tag[1][2]}}">{{tag[1][2]}}</a></button>
        <button><a href="/write/{{tag[1][3]}}">{{tag[1][3]}}</a></button>
        <button><a href="/write/{{tag[1][4]}}">{{tag[1][4]}}</a></button>
        <button><a href="/write/{{tag[1][5]}}">{{tag[1][5]}}</a></button>
        <button><a href="/write/{{tag[1][6]}}">{{tag[1][6]}}</a></button>
      </div>

      <div class="column">
        <h4>{{tag[2][1]}}</h4>
        <button><a href="/write/{{tag[2][2]}}">{{tag[2][2]}}</a></button>
        <button><a href="/write/{{tag[2][3]}}">{{tag[2][3]}}</a></button>
        <button><a href="/write/{{tag[2][4]}}">{{tag[2][4]}}</a></button>
        <button><a href="/write/{{tag[2][5]}}">{{tag[2][5]}}</a></button>
        <button><a href="/write/{{tag[2][6]}}">{{tag[2][6]}}</a></button>
      </div>

      <div class="column">
        <h4>{{tag[3][1]}}</h4>
        <button><a href="/write/{{tag[3][2]}}">{{tag[3][2]}}</a></button>
        <button><a href="/write/{{tag[3][3]}}">{{tag[3][3]}}</a></button>
        <button><a href="/write/{{tag[3][4]}}">{{tag[3][4]}}</a></button>
        <button><a href="/write/{{tag[3][5]}}">{{tag[3][5]}}</a></button>
        <button><a href="/write/{{tag[3][6]}}">{{tag[3][6]}}</a></button>
      </div>

      <div class="column">
        <h4>{{tag[4][1]}}</h4>
        <button><a href="/write/{{tag[4][2]}}">{{tag[4][2]}}</a></button>
        <button><a href="/write/{{tag[4][3]}}">{{tag[4][3]}}</a></button>
        <button><a href="/write/{{tag[4][4]}}">{{tag[4][4]}}</a></button>
        <button><a href="/write/{{tag[4][5]}}">{{tag[4][5]}}</a></button>
        <button><a href="/write/{{tag[4][6]}}">{{tag[4][6]}}</a></button>
      </div>

      <div class="column">
        <h4>{{tag[5][1]}}</h4>
        <button><a href="/write/{{tag[5][2]}}">{{tag[5][2]}}</a></button>
        <button><a href="/write/{{tag[5][3]}}">{{tag[5][3]}}</a></button>
        <button><a href="/write/{{tag[5][4]}}">{{tag[5][4]}}</a></button>
        <button><a href="/write/{{tag[5][5]}}">{{tag[5][5]}}</a></button>
        <button><a href="/write/{{tag[5][6]}}">{{tag[5][6]}}</a></button>
      </div>

    </div>

  </section>

</body>
</html>