<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/write.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f76d1c9984.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    {% if login == False %}
    <div id="menu" method = "get">
      <a href="/question">QUESTION</a>
      <a href="/answer">ANSWER</a>
      <h1 id="title"><a href="/">MoCL</a></h1>
      <a href="#">Sign in</a>
      <a href="/login">Login</a>
    </div>
    {%else%}
    <div id="menu" method = "get">
      <a href="/question">QUESTION</a>
      <a href="/answer">ANSWER</a>
      <h1 id="title"><a href="/">TITLE</a></h1>
      <a href="/user" id="prof1">{{username}}님</a>
      <a href="/logout">Logout</a>
    </div>
    {%endif%}
  </header>
  <section >
    <div><b>{{tag_}}</b> 게시판에 글 작성 중입니다</div>
    <form action="/post/{{tag_}}" method="get">
      <div id="writed">
        <div id="titled"><input type="text" placeholder="title" name="title" /></div>
        <div id="contentd">
          <textarea name="content">질문 내용을 작성해주세요 (*이 문구는 질문 작성 시 삭제해주세요)</textarea>
        </div>
        <div id="postd"><input type="submit" value="post" /></div>
      </div>
    </form>

  </section>
  <script src="../static/js/toggle.js"></script>

</body>
</html>